pipeline/getKeyVault.json
{
	"name": "getKeyVault",
	"properties": {
		"activities": [
			{
				"name": "readkeyvault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://sntest13.vault.azure.net/secrets/username/47d2cf099eed4310857a11c1621b6538?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "readkeyvault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "keyvaultusername",
					"value": {
						"value": "@activity('readkeyvault').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"keyvaultusername": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-06-26T13:23:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}